<EntityPage @entityName={{@chart.name}} @save={{fn this.save @chart}} >
  <div class="query-editor__data-column">
    <PowerSelect @selected={{@chart.dataset.datasource}} @options={{this.datasources}} @onChange={{fn this.changeDataSource @chart.dataset}} as |datasource|>
      {{datasource.name}}
    </PowerSelect>
  </div>
  <div class="query-editor__center-column">
    <div class="query-editor__editor">
      <Editor @query={{@chart.dataset.query}} @run={{fn this.run @chart}} @updateCode={{@updateCode}} />
    </div>
    <div class="query-editor__results">
      <Dashboard>
        <Widget
          @name={{@chart.name}}
          @onResize={{fn this.onChartResize @chart}}
          @onResized={{fn this.onChartResized @chart}}
          @height={{@chart.height}}
          @width={{@chart.width}}
          @error={{@chart.dataset.error}}
        as |size| >
          {{#if (and @chart.dataset.cache.results @chart.dataset.cache.results.length)}}
              {{component @chart.visualisation.component options=@chart.options  results=@chart.dataset.cache.results width=size.width height=size.height}}
          {{/if}}
        </Widget>
      </Dashboard>
    </div>
  </div>
  <div class="query-editor__options-column">
    <label>mark</label>
    <PowerSelect @selected={{@chart.visualisation}} @options={{this.visualisation}} @onChange={{fn this.changeVisualisation @chart}} as |visualisation|>
      {{visualisation.name}}
    </PowerSelect>
    {{component @chart.visualisation.options.component options=@chart.options columns=@chart.dataset.cache.columns optionsUpdated=this.optionsUpdated}}
  </div>
</EntityPage>