<EntityPage @entityName={{@mark.name}} @save={{fn this.save @mark}} >
  <div class="query-editor__data-column">
    dataset:{{this.datasets.length}}
    <PowerSelect @selected={{@mark.dataset}} @options={{this.datasets}} @onChange={{fn this.changeDataSet @mark}} as |dataset|>
      {{dataset.name}}
    </PowerSelect>
  </div>
    <Editor @query={{@mark.definition}} @language="json"  @updateCode={{this.updateCode}}>
      <Vega @schema={{@mark.hydratedSchema}}/>
    </Editor>
</EntityPage>