<div class="query-editor__page">
  <PageHeader>
    <:name><Input class="page-header__input" @value={{@query.name}} /></:name>
    <:actions><button onClick={{fn this.save @query}} type="button">Save</button></:actions>
  </PageHeader>
  <div class="query-editor__container">
    <div class="query-editor__data-column">
      <br />
      <PowerSelect @selected={{@query.datasource}} @options={{this.datasources}} @onChange={{fn this.changeDataSource @query}} as |datasource|>
        {{datasource.name}}
      </PowerSelect>
    </div>
    <div class="query-editor__center-column">
      <div class="query-editor__editor">
        <Textarea style="" @value={{@query.query}} />
        <div class="runbox">
          <button onClick={{fn this.run @query}} type="button">Run Query</button>
        </div>
      </div>
      <div class="query-editor__results">
        <Dashboard>
          <Widget @name={{@query.name}}>
            {{#if (and @query.results @query.results.length)}}
              {{#if this.optionsRows}}
                {{component @query.visualisation.component options=this.optionsRows  results=@query.results}}
              {{/if}}
            {{/if}}
          </Widget>
        </Dashboard>
      </div>
    </div>
    <div class="query-editor__options-column">
      <PowerSelect @selected={{@query.visualisation}} @options={{this.visualisation}} @onChange={{fn this.changeVisualisation @query}} as |visualisation|>
        {{visualisation.name}}
      </PowerSelect>

      {{#if (and @query.results @query.results.length)}}
        <Viz::Options @columns={{@query.rawColumns}} @vizOptions={{@query.visualisation.options}} @optionsUpdated={{optionsUpdated}} />
      {{/if}}
    </div>
  </div>

</div>

