<div class="quick-input-widget">
  <div class="quick-input-and-message">
      <input class="quick-input-filter" onInput={{this.valueChanged}} {{autofocus}} />
  </div>
  <ul class="quick-input-list">
    {{#each this.commands.pallete as |command|}}
      <li class="quick-input-list-item" onClick={{fn this.callCommand command}}>
        {{command.title}}
      </li>
    {{/each}}
    {{#each this.queries as |query|}}
      {{#unless query.isNew}}
        {{#with (create-command query 'asdasdzz') as |command|}}
          <li class="quick-input-list-item" onClick={{fn this.callCommand command}}>
            {{command.title}}qqq
          </li>
        {{/with}}
      {{/unless}}
    {{/each}}
  </ul>
</div>
