<div class="quick-input-widget">
  <div class="quick-input-and-message">
    <PowerSelectTypeahead
      @searchEnabled={{true}}
      @initiallyOpened={{true}}
      {{autofocus}}
      @options={{this.filteredCommands}}
      @searchField="title"
      @onChange={{this.onSelected}}
      @loadingMessage="Loading..."
    as |command|>
      {{yield command}}
    </PowerSelectTypeahead>
  </div>
</div>
