<div class="quick-input-widget">
  <div class="quick-input-and-message">
      <input class="quick-input-filter" onInput={{this.valueChanged}} {{autofocus}} />
  </div>
  <ul class="quick-input-list">
    {{#if filterCommands.isLoading}}
      loading...
    {{else}}
      {{#each this.filteredCommands as |command|}}
        {{log command}}
        <li class="quick-input-list-item" onClick={{fn this.callCommand command}}>
          {{command.title}}
        </li>
      {{/each}}
    {{/if}}
  </ul>
</div>
