<div class="widget" {{did-insert this.registerResize}} style={{style}}>
  <div class="widget__header" {{did-insert this.registerDrag}}>
    <h2>{{@name}}</h2>
  </div>
  <div class="widget__content">
      {{yield this.size}}
  </div>
</div>
