{{page-title "Create"}}
<PageHeader @name="Create Datasource" />
<PageLayout>
  {{#let this.model as |datasource|}}
      <form>
        <FormRow @id="nameInput" @label="Name">
          <:input as |InputCompnent|>
            <InputCompnent @value={{datasource.name}}/>
          </:input>
        </FormRow>
        <FormRow @id="connectionStringInput" @label="Connection String">
          <:input as |InputCompnent|>
            <InputCompnent @value={{datasource.connectionString}}/>
          </:input>
        </FormRow>
        <br>
        <button onClick={{fn this.save datasource}} type="button">Save</button>
      </form>
  {{/let}}
</PageLayout>
{{outlet}}