{{page-title "List"}}
<PageHeader @name="Data Sources" />
<PageLayout>
  {{#with this.model as |datasources|}}
    <table>
      <thead>
        <th>
          Name
        </th>
        <th>
          Tables
        </th>
        <th>
          Last Scan
        </th>
        <th>
          actions
        </th>
      </thead>
      <tbody>
        {{#each datasources as |datasource|}}
          <tr>
            <td>
              {{datasource.name}}
            </td>
            <td>
              {{datasource.tables.length}}
            </td>
            <td>
              {{datasource.lastScan}}
            </td>
            <td>
              <button onClick={{fn this.scan datasource}} type="button">scan</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/with}}
</PageLayout>
{{outlet}}
