<label>x</label>
<PowerSelect @selected={{@options.xscale}} @options={{@columns}} @onChange={{fn this.updateX @options}} as |col|>
  {{col}}
</PowerSelect>
<label>y</label>
<PowerSelect @selected={{@options.yscale}} @options={{@columns}} @onChange={{fn this.updateY @options}} as |col|>
  {{col}}
</PowerSelect>
<label>series</label>
<PowerSelect @selected={{@options.seriesColumn}} @options={{@columns}} @allowClear={{true}} @onChange={{fn this.updateSeries @options}} as |col|>
  {{col}}
</PowerSelect>
<label>interpolate</label>
<PowerSelect @selected={{@options.interpolate}} @options={{this.interpolate}} @allowClear={{true}} @onChange={{fn this.updateInterpolate @options}} as |col|>
  {{col}}
</PowerSelect>