{{page-title "MyApp"}}

{{#if this.displayQuickInput}}
  <QuickInput @onSelected={{this.quickInputSelection}} @filterCommands={{this.filterCommands}} as |command|>
    {{command.title}}
  </QuickInput>
{{/if}}

{{!-- <h1>press ctrl+shift+p to see something</h1> --}}
{{outlet}}
