{{page-title "Dashboard"}}
{{#let this.model as |dashboard|}}
  {{#if this.displayWidgetPicker}}
    <QuickInput @onSelected={{fn this.selectWidget dashboard}} @filterCommands={{this.filterCommands}} as |command|>
        {{command.name}}
    </QuickInput>
  {{/if}}
  <PageHeader>
    <:name><Input class="page-header__input" @value={{dashboard.name}} /></:name>
    <:actions><button onClick={{fn this.addWidget dashboard}} type="button">Add Widget</button></:actions>
  </PageHeader>
  <Dashboard>
    {{#each dashboard.widgets as |widget|}}
      <Widget
        @name={{widget.chart.name}}
        @onResize={{fn this.onWidgetResize widget}}
        @onResized={{fn this.onWidgetResized widget}}
        @onMove={{fn this.onWidgetMove widget}}
        @onMoved={{fn this.onWidgetMoved widget}}
        @height={{widget.height}}
        @width={{widget.width}}
        @x={{widget.x}}
        @y={{widget.y}}
      as |size| >
        {{#if (and widget.chart.dataset.cache.results widget.chart.dataset.cache.results.length)}}
            {{component widget.chart.visualisation.component options=widget.chart.options  results=widget.chart.dataset.cache.results width=size.width height=size.height}}
        {{/if}}
      </Widget>
     {{/each}}
  </Dashboard>
{{/let}}